<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minimalistTabTracker - New entry</title>
</head>
<body>
    <h1>## minimalistTabTracker ##</h1>
    <h2>New tab form</h2>

    <a href="/"><button>Return</button></a>
</body>
</html>